<div th:fragment="frag-modal-jk">

	<div class="modal modal-center fade" id="modal-karyawan" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form data-toggle="validator" role="form" th:action="@{/employee/save}" method="post"
					class="ajax">
					<div class="modal-header">
						<h5 class="modal-title">Data Karyawan</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12 col-md-offset-3">
								<div class="box-body">

									<div class="form-group" hidden>
										<label for="nama-sarana">id</label> <input type="text"
											class="form-control" name="id" id="id-id-jk" />
									</div>

									<div class="form-group">
										<label for="nama-sarana">Nama </label> <input type="text"
											required="true" class="form-control" name="name"
											id="id-nama-jk" />
									</div>

									<div class="form-group">
										<label for="nama-satuan">Tanggal Lahir</label> <input
											type="text" required="true" class="form-control"
											name="birthDate" id="id-bd-jk" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-autoclose="true" />
									</div>

									<div class="form-group">
										<label for="nama-sarana">Jabatan</label>
										<select name='jabatan' class="form-control" id="id-slc-cat-jk"
											required="true"></select>
									</div>

									<div class="form-group">
										<label for="nama-sarana">NIP</label> <input type="number"
											required="true" class="form-control" name="idNumber"
											id="id-nip-jk" />
											<p id="projectIDSelectError"></p>
									</div>

									<div class="form-group">
										<label for="nama-sarana">Jenis Kelamin</label>
											<label class="radio-inline">
      											<input type="radio" name="gender" value="1" id="id-gen-jk">Pria
    										</label>
    										<label class="radio-inline">
      											<input type="radio" name="gender" value="2" id="id-gen-jk">Wanita
    										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-bold btn-pure btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" id="modal-btn-simpan" class="btn btn-bold btn-pure btn-primary">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$("#modal-btn-simpan").on('click', function(){
			$('#modal-karyawan').modal('hide');
			$('body').removeClass('modal-open');
			$('.modal-backdrop').remove();
		});

		$("#id-nip-jk").change(function() {

    		var usr = $("#id-nip-jk").val();

    		if(usr.length >= 4)
    		{
    		$("#status").html('<img src="loader.gif" align="absmiddle">&nbsp;Checking availability...');

    		    $.ajax({
    		    type: "GET",
    		    url: "/employee/checkNip",
    		    data: { nip: $('#id-nip-jk').val()},
    		    success: function(msg){
				console.log(msg);
    			if(msg == true)
    			{
    				$("#projectIDSelectError").html("NIP telah terdaftar").addClass("error").css('color', 'red');
    			}
    			else
    			{
    				$("#projectIDSelectError").html("NIP Tersedia").addClass("error").css('color', 'green');
    			}

    		 }

    		  });

    		}
    		else
    			{
    			$("#projectIDSelectError").html("NIP Minimal 4 Angka").addClass("error").css('color', 'red');
    			}

    		});
	</script>
</div>