<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="TheAdmin - Responsive Bootstrap 4 Admin, Dashboard &amp; WebApp Template" />
	<meta name="keywords" content="dashboard, index, main" />

	<title>KARYAWAN DGWN</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i|Dosis:300,500" rel="stylesheet" />


	<!-- Styles -->
	<link href="/css/core.min.css" rel="stylesheet" />
	<link href="/css/app.min.css" rel="stylesheet" />
	<link href="/css/style.min.css" rel="stylesheet" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="/img/logo-cmis2.png" />
	<link rel="icon" href="/img/logo-cmis2.png" />

	<!--  Open Graph Tags -->
	<link href="/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="/plugins/select2/select2.css" rel="stylesheet" />


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript">
		/*websocket listener*/
		var webSocketListener = {
			on: function (eventName, callback) {

				$(document).off(eventName).on(eventName, function (e, data) {
					if (typeof callback == 'function') {
						callback(data);
					}
				});
			}
		};
	</script>
</head>

<body>
	<div id="page-wrap">
		<!-- Preloader -->
		<div class="preloader">
			<div class="spinner-dots">
				<span class="dot1"></span> <span class="dot2"></span> <span class="dot3"></span>
			</div>
		</div>

		<!-- Left side column. contains the logo and sidebar -->
		<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
			<div th:replace="fragments/mainsidebar :: sidebar"></div>
		</aside>

		<!-- Topbar -->
		<header class="topbar">
			<div class="topbar-left">
				<span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span> <a
					class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip"
					title="Fullscreen"> <i class="material-icons fullscreen-default">fullscreen</i> <i
						class="material-icons fullscreen-active">fullscreen_exit</i>
				</a>
				<div class="topbar-divider d-none d-md-block"></div>
				<div class="lookup d-none d-md-block topbar-search" id="theadmin-search">
					<input class="form-control w-300px" type="text">
					<div class="lookup-placeholder ">
						<span data-provide="typing"
							data-type="<strong>DGWN </strong>DG TECH|<strong>Tujuan Aplikasi :</strong> Pengelolaan data karyawan|<strong>Selamat</strong> bekerja..."
							data-loop="false" data-type-speed="90" data-back-speed="50"
							data-show-cursor="false"></span>
					</div>
				</div>
			</div>
			<ul class="topbar-btns">
				<li class="dropdown"><span class="topbar-btn" data-toggle="dropdown"><img class="avatar"
							src="/img/avatar/1.jpg" alt="..."></span>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="page/profile.html"><i class="ti-user"></i> Profile</a> <a
							class="dropdown-item" href="page-app/mailbox.html">
							<div class="flexbox">
								<i class="ti-email"></i> <span class="flex-grow">Inbox</span> <span
									class="badge badge-pill badge-info">5</span>
							</div>
						</a> <a class="dropdown-item" href="#"><i class="ti-settings"></i>
							Settings</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="page-extra/user-lock-1.html"><i class="ti-lock"></i>
							Lock</a> <a class="dropdown-item" th:href="@{/logout}"><i class="ti-power-off"></i>
							Logout</a>
					</div>
				</li>
			</ul>

		</header>
		<!-- END Topbar -->

		<!-- Content Wrapper. Contains page content -->
		<main class="main-container">
			<!-- Preloader -->
			<div class="preloader" style="opacity: 0.5;">
				<div class="spinner-dots">
					<span class="dot1"></span>
					<span class="dot2"></span>
					<span class="dot3"></span>
				</div>
			</div>
			<div class="container">
				<div id="ajax-page-container">
					<div layout:fragment="style-content"></div>
					<div layout:fragment="content"></div>
				</div>
			</div>

		</main>

		<footer class="site-footer">
			<div class="row">
				<div class="col-md-12">
					<p class="text-md" style="text-align: right;">DGWN © 2020. All rightsreserved. Powered By DIAN GUNAWAN TECH ID.</p>
				</div>
			</div>
		</footer>
	</div>
	<!-- ./wrapper -->

	<div id="qv-global" class="quickview" data-url="data/quickview-global.html">
		<div class="spinner-linear">
			<div class="line"></div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!-- <script src="/js/menus.js"></script>  -->
	<script src="/js/core.min.js"></script>
	<script src="/js/app.min.js"></script>
	<script src="/js/script.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
	<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="/plugins/select2/select2.js"></script>
	<script src="/vendor/chartjs/Chart.js"></script>
	<th:block layout:fragment="script"></th:block>

	<script type="text/javascript">
		initAjaxClick();
		loadAllContent('html');

		function beforeAjaxLoadInit(){
	        // remove all event delete
	        $(document).unbind('click', 'a.btn-delete');
	        $(document).off('click', 'a.btn-delete');
	    }

	    function showLoader(){
	        $('.main-container .preloader').fadeIn('slow');
	        $('.modal').modal('hide');
	    }

	    function hideLoader(){
	        $('.main-container .preloader').fadeOut('fast');
	    }

	    function clickAjax(selector, type){
            var $this = selector;
            var classes = $this.attr('class').split(' ');
            var destContainer = 'ajax-page-container';
            var $destContainer = $('#ajax-page-container');
            var link = $this.attr('href');
            var originalLink = $this.attr('href');
            $this.unbind('click');

            if ($this.attr('href').indexOf('ascomponent') < 0 && $this.attr('href').indexOf('?') < 0){
                link += 'viewIndex?ascomponent=1';
            }else
            if ($this.attr('href').indexOf('ascomponent') < 0){
                link += 'viewIndex&ascomponent=1';
            }
            var _html = '<div id=\"'+destContainer+'\">\n';

            // show preloader
            showLoader();

            $.ajax({
                url : link,
                type : 'GET',
                dataType : type,
                success : function(htmlResponse){
                    // hide preloader
                    hideLoader();
                    beforeAjaxLoadInit();

                    if (type != 'json' && htmlResponse.indexOf('{') == 0){
                        htmlResponse = JSON.parse(htmlResponse);
                        $.get(htmlResponse.url, {}, function(resp){
                            _html += resp+'\n';
                            _html += '</div>';
                            $destContainer.replaceWith(_html).promise().done(function(){
                                var _url = htmlResponse.url.replace('?ascomponent=1', '');
                                _url = _url.replace('&ascomponent=1', '');
                                history.pushState({}, $('head title').html(), _url);
                            });
                        });
                    }else
                    if (type == 'json' && htmlResponse.url){
                        $.get(htmlResponse.url, {}, function(resp){
                            _html += resp+'\n';
                            _html += '</div>';
                            $destContainer.replaceWith(_html).promise().done(function(){});
                        });
                    }else{
                        _html += htmlResponse+'\n';
                        _html += '</div>';
                        $destContainer.replaceWith(_html).promise().done(function(){
                            // $('html, body').animate({
                            //     scrollTop: $(destContainer).offset().top - 100
                            // }, 0);
                            // init_altair();
                        });
                        //history.pushState({}, $('head title').html(), originalLink);
                    }
                },
                error : function(err, htmlResponse){
                    // hide preloader
                    hideLoader();
                    beforeAjaxLoadInit();
                    // $(destContainer).html(htmlResponse);
                    _html += htmlResponse+'\n';
                    _html += '</div>';
                    $destContainer.replaceWith(_html).promise().done(function(){
                        // $('html, body').animate({
                        //     scrollTop: $(destContainer).offset().top - 100
                        // }, 0);
                        // init_altair();
                    });
                    //history.pushState({}, $('head title').html(), originalLink);
                }
            });

            $(".dropdown").removeClass('show');
            $(".dropdown-menu").removeClass('show');
            $(".topbar-btn").attr("aria-expanded",  "false");
        }

        function loadAllContent(type){
            var destContainer = 'ajax-page-container';
            var $destContainer = $('#ajax-page-container');
            var originalLink = $(location).attr("href");

            var _html = '<div id=\"'+destContainer+'\">\n';

            // show preloader
            showLoader();

            $.ajax({
                url : $(location).attr("href")+'viewIndex?ascomponent=1',
                type : 'GET',
                dataType : 'html',
                beforeSend: function(){
                	showLoader();
                },
                success : function(htmlResponse){
                	showLoader();
                	// hide preloader
                    hideLoader();
                    beforeAjaxLoadInit();

                    if (type != 'json' && htmlResponse.indexOf('{') == 0){
                        htmlResponse = JSON.parse(htmlResponse);
                        $.get(htmlResponse.url, {}, function(resp){
                            _html += resp+'\n';
                            _html += '</div>';
                            $destContainer.replaceWith(_html).promise().done(function(){
                                var _url = htmlResponse.url.replace('?ascomponent=1', '');
                                _url = _url.replace('&ascomponent=1', '');
                                history.pushState({}, $('head title').html(), _url);
                            });
                        });
                    }else
                    if (type == 'json' && htmlResponse.url){
                        $.get(htmlResponse.url, {}, function(resp){
                            _html += resp+'\n';
                            _html += '</div>';
                            $destContainer.replaceWith(_html).promise().done(function(){});
                        });
                    }else{
                        _html += htmlResponse+'\n';
                        _html += '</div>';
                        $destContainer.replaceWith(_html).promise().done(function(){
                            // $('html, body').animate({
                            //     scrollTop: $(destContainer).offset().top - 100
                            // }, 0);
                            // init_altair();
                        });
                        history.pushState({}, $('head title').html(), originalLink);
                    }
                },
                error : function(err, htmlResponse){
                    // hide preloader
                    hideLoader();
                    beforeAjaxLoadInit();
                    // $(destContainer).html(htmlResponse);
                    _html += htmlResponse+'\n';
                    _html += '</div>';
                    $destContainer.replaceWith(_html).promise().done(function(){
                        // $('html, body').animate({
                        //     scrollTop: $(destContainer).offset().top - 100
                        // }, 0);
                        // init_altair();
                    });
                    history.pushState({}, $('head title').html(), originalLink);
                }
            });

            $(".dropdown").removeClass('show');
            $(".dropdown-menu").removeClass('show');
            $(".topbar-btn").attr("aria-expanded",  "false");
        }

        function submitAjax(selector){
            var $this = selector;
            var classes = $this.attr('class').split(' ');
            var destContainer = 'ajax-page-container';
            var $destContainer = $('#ajax-page-container');
            var link = $this.attr('action');
            var originalLink = $this.attr('action');

            if ($this.attr('action').indexOf('ascomponent') < 0 && $this.attr('action').indexOf('?') < 0){
                link += '?ascomponent=1';
            }else
            if ($this.attr('action').indexOf('ascomponent') < 0){
                link += '&ascomponent=1';
            }

            var _html = '<div id=\"'+destContainer+'\">\n';

            // check validator
            if ($this.find('.is-invalid').length > 0){
                return false;
            }
            // show preloader
            showLoader();
            $.ajax({
                url : link,
                type : $this.attr('method'),
                data : $this.serialize(),
                dataType : 'html',
                success : function(response){
                    // hide preloader
                    hideLoader();
                    // remove all event delete
                    beforeAjaxLoadInit();

                    if (response.indexOf('{') == 0){
                        var jsonResponse = JSON.parse(response);
                        if (jsonResponse.exec) eval(jsonResponse.exec);

                        if (jsonResponse.url){
                            $.get(jsonResponse.url, {}, function(resp){
                                _html += resp+'\n';
                                _html += '</div>';
                                $destContainer.replaceWith(_html).promise().done(function(){
                                    // $('html, body').animate({
                                    //     scrollTop: $(destContainer).offset().top - 100
                                    // }, 0);
                                });
                                var _url = jsonResponse.url.replace('?ascomponent=1', '');
                                history.pushState({}, $('head title').html(), _url);
                            });
                        }
                    }else{
                        _html += response+'\n';
                        _html += '</div>';
                        $destContainer.replaceWith(_html).promise().done(function(){
                            // $('html, body').animate({
                            //     scrollTop: $destContainer.offset().top - 100
                            // }, 0);
                        });
                    }
                },
                error : function(err, htmlResponse){
                    // hide preloader
                    hideLoader();
                    // altair_helpers.content_preloader_hide();
                    $destContainer.html(htmlResponse);
                }
            });
        }

        function submitAjaxFormUpload(selector){
            var $this = selector;
            var classes = $this.attr('class').split(' ');
            var destContainer = 'ajax-page-container';
            var $destContainer = $('#ajax-page-container');
            var link = $this.attr('action');
            var originalLink = $this.attr('action');
            var data = new FormData($this[0]);
            /*append file*/
            $this.find('[type=file]').each((i, v)=>{
                if ($(v)[0].hasOwnProperty('file')){
                    data.append($(v).attr('name'), $(v)[0].file);
                }
            });

            if ($this.attr('action').indexOf('ascomponent') < 0 && $this.attr('action').indexOf('?') < 0){
                link += 'viewIndex?ascomponent=1';
            }else
            if ($this.attr('action').indexOf('ascomponent') < 0){
                link += 'viewIndex&ascomponent=1';
            }

            var _html = '<div id=\"'+destContainer+'\">\n';

            // check validator
            if ($this.find('.is-invalid').length > 0){
                return false;
            }
            // show preloader
            showLoader();
            $.ajax({
                url: link,
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: $this.attr('method'),
                type: $this.attr('method'), // For jQuery < 1.9
                success : function(response){
                    // hide preloader
                    hideLoader();
                    // remove all event delete
                    beforeAjaxLoadInit();

                    if (response.indexOf('{') == 0){
                        var jsonResponse = JSON.parse(response);
                        if (jsonResponse.exec) eval(jsonResponse.exec);

                        if (jsonResponse.url){
                            $.get(jsonResponse.url, {}, function(resp){
                                _html += resp+'\n';
                                _html += '</div>';
                                $destContainer.replaceWith(_html).promise().done(function(){
                                    // $('html, body').animate({
                                    //     scrollTop: $(destContainer).offset().top - 100
                                    // }, 0);
                                });
                                var _url = jsonResponse.url.replace('?ascomponent=1', '');
                                history.pushState({}, $('head title').html(), _url);
                            });
                        }
                    }else{
                        _html += response+'\n';
                        _html += '</div>';
                        $destContainer.replaceWith(_html).promise().done(function(){
                            // $('html, body').animate({
                            //     scrollTop: $destContainer.offset().top - 100
                            // }, 0);
                        });
                    }
                },
                error : function(err, htmlResponse){
                    // hide preloader
                    hideLoader();
                    // altair_helpers.content_preloader_hide();
                    $destContainer.html(htmlResponse);
                }
            });
        }

		function initAjaxClick(){
			$('a.ajax').off('click');
            // $('form.ajax:not([enctype="multipart/form-data"])').off('submit');
            $('form.ajax').off('submit');


            $(document).on('click', 'a.ajax:not(.btn-delete)', function(e){
                // console.log('a clicked');
                e.preventDefault();
                e.stopImmediatePropagation();

                var $this = $(this);

                clickAjax($this, 'html');
                return false;
            });

            // $(document).on('submit','form.ajax:not([enctype="multipart/form-data"])', function(e){
            $(document).on('submit','form.ajax', function(e){
                // console.log('form submitted');
                e.preventDefault();
                e.stopImmediatePropagation();
                var $this = $(this);
                var functions = [];
                if ($(this).attr('onsubmit') && $(this).attr('onsubmit') != ''){
                    functions = $(this).attr('onsubmit').split(';');
                }
                if (functions.length){
                    for (var i = 0; i < functions.length; i++) {
                        if (functions[i] == ''){
                            continue;
                        }
                        functions[i] = functions[i].replace('return ', '');
                        eval('var f = '+functions[i]+';');
                        if (f === false){
                            break;
                        }
                    }
                    if (f !== false){
                        if ($('.md-fab-wrapper').length){
                            $('.md-fab-wrapper').remove();
                        }
                        if ($this.attr('enctype') && $this.attr('enctype').toLowerCase() == "multipart/form-data"){
                            submitAjaxFormUpload($this);
                        }else{
                            submitAjax($this);
                        }
                    }
                }else{
                    if ($('.md-fab-wrapper').length){
                        $('.md-fab-wrapper').remove();
                    }
                    if ($this.attr('enctype') && $this.attr('enctype').toLowerCase() == "multipart/form-data"){
                        submitAjaxFormUpload($this);
                    }else{
                        submitAjax($this);
                    }
                }

                return false;
            });
		}

		window.onpopstate = function(event) {
            // console.log('history popped');
            // console.log(event.state);
            var link = document.location.href.replace(/\&_uniqid.*/,'');
            var originalLink = document.location.href;

            if (link.indexOf('ascomponent') < 0 && link.indexOf('?') < 0){
                link += '?ascomponent=1';
            }else
            if (link.indexOf('ascomponent') < 0){
                link += '&ascomponent=1';
            }

            if (originalLink.indexOf('#') !== (originalLink.length - 1)){
                // show preloader
                showLoader();
                $.ajax({
                    url : link,
                    type : 'GET',
                    dataType : 'html',
                    success : function(htmlResponse){
                        // hide preloader
                        hideLoader();
                        // altair_helpers.content_preloader_hide();
                        // remove all event delete
                        // beforeAjaxLoadInit();

                        var _html = '<div id="ajax-page-container">\n';
                            _html += htmlResponse+'\n';
                            _html += '</div>\n';
                        $('#ajax-page-container').replaceWith(_html).promise().done(function(){});
                    },
                    error : function(err, htmlResponse){
                        // hide preloader
                        hideLoader();
                        // altair_helpers.content_preloader_hide();

                        // remove all event delete
                        // beforeAjaxLoadInit();

                        var _html = '<div id="ajax-page-container">\n';
                            _html += htmlResponse+'\n';
                            _html += '</div>\n';
                        $('#ajax-page-container').replaceWith(_html).promise().done(function(){});
                    }
                });
            }else{
                return false;
            }
        };

        window.onhashchange = function(event){
            var originalLink = document.location.href;
            if (originalLink.indexOf('#') === (originalLink.length - 1)){
                history.replaceState({}, $('head title').html(), originalLink.substring(0, (originalLink.length - 1)));
            }
        };

        $(".dropdown-item").click(function(){
            $(".dropdown").removeClass('show');
            $(".dropdown-menu").removeClass('show');
            $(".topbar-btn").attr("aria-expanded",  "false");
        });
	</script>
</body>

</html>